.footer__content {
    padding: 2em;
    background-color: $primary;
    color: black;
    display: flex;
    justify-content: space-between;
}

.footer__left {
    ul {
        list-style: none;

        li {
            padding: 1em;
        }
        a {
            color: white;
        }
    }
}

.footer__main { 
    a {
        font-size: 2.3em;
        font-weight: bold;
    }
}

.footer__social {
    display: flex;
    font-size: 1.5em;
}

.footer__newsletter {
    font-size: 2em;
    padding: 0 3em;
    h2,h4 {
        color: white
    }
}

@media only screen and (max-width : 900px) {
    .footer__content {
        flex-direction: column;
    }
    .footer__newsletter {
        padding: 0;
    }

    .footer__social {
        flex-direction: column;
    }

    .footer__main {
        text-align: right;
    }

    .footer__social {
        padding: 0;
    }
}